[submodule "Backend"]
	path = Backend
	url = https://github.com/tanmai1223/hotelbackend.git
	branch = main
[submodule "Restaurant"]
	path = Restaurant
	url = https://github.com/tanmai1223/restaurant.git
	branch = main
[submodule "User"]
	path = User
	url = https://github.com/tanmai1223/user.git
	branch = main
